@inherits RenderViewPage
@using Umbraco.Cms.Web;

<nav class="sixteen columns smallScreenNav">

@Html.Partial("smallScreenNavigation")

</nav>

<nav class="four columns alpha navigation">

@Html.Partial("categoryList")

</nav>