@inherits PartialViewMacroPage
@using Umbraco.Cms.Web
@using Umbraco.Cms.Web.Macros
@using Umbraco.Framework

@{
    var suffix = Model.MacroParameters.Suffix;
    var product = Umbraco.GetDynamicContentById(Model.MacroParameters.Model);
}

<div class="four columns @suffix productListItem">
    <a href="@product.Url">
    
    <img alt="@product.Name"  src="@Umbraco.GetMediaUrl(product.MainPicture)?maxwidth=170&maxheight=170" class="centered" />
    <br />
    <h6>@product.Name</h6>
    </a>
        
</div>