<!DOCTYPE html>
<html lang="en"> 

  
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
      @RenderSection("Head", true)
  </head>
  
  
  
<body> 
  
  <header>
    @RenderSection("WebsiteName", true)
  </header> 
  
    @RenderBody()
</body>
  
</html>
