@inherits RenderViewPage
@using System.Web.Mvc.Html;
@using Umbraco.Cms.Web;
@{
	Layout = "Page.cshtml";
}

  

<section class="twelve columns clearfix">

  @Html.Raw(DynamicModel.HomeContent)


</section>