<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ImageResizer" version="3.1.5" />
  <package id="ImageResizer.Mvc" version="3.1.5" />
  <package id="ImageResizer.WebConfig" version="3.1.5" />
  <package id="NuGet.Core" version="1.5.20902.9026" />
  <package id="routedebugger" version="2.0.0.6" />
  <package id="Skeleton" version="1.1.1" />
</packages>