header
{
  
}

nav
{
    margin: 25px 0;
    
	
}

nav ul
{
    list-style: none;
    width:auto;
    margin-left: 0; 
    padding-left: 0;
}

nav ul li
{
    
    display:inline;
    border:1px solid Grey;
    width:auto;
    padding: 10px 8px;
}

nav ul li a
{
    font-size:14pt;
    color:Black;
    
    
}

nav ul li a:hover
{
    font-size:14pt;
    color:Grey;
    
}

.widget
{
    border:2px solid Grey;
    padding:10px;
}

h1 a
{
    text-decoration:none;
}