header
{
  
}

header nav
{
    margin: 25px 0;
    
	
}

header nav ul
{
    list-style: none;
    width:auto;
    margin-left: 0; 
    padding-left: 0;
}

header nav ul li
{
    
    display:inline;
    border:1px solid Grey;
    width:auto;
    padding: 10px 8px;
}

header nav ul li a
{
    font-size:14pt;
    color:Black;
    
    
}

header nav ul li a:hover
{
    font-size:14pt;
    color:Grey;
    
}

.widget
{
    border:2px solid Grey;
    padding:10px;
}

h1 a
{
    text-decoration:none;
}

.productListItem
{
    margin:0 0 15px 0;
    text-align:center;
}

.centered
{
    display:block;
    margin: 0 auto;
}

.smallScreenNav ul
{
    display:none;
    
}

.smallScreenNav ul li
{
    float:left;
    margin: 5px 8px;
}

.box
{
    border: 1px solid Grey;
    padding:2px 5px;
    margin: 5px 0;
}


 @media only screen and (max-width: 767px) 
 {
     .navigation ul
     {
         display:none;
     }
     
     .smallScreenNav ul
     {
         display:inline-block;
         margin-bottom:15px;
     }
 }